<div class="centered-container">
<div class="row">
    <div class="col-md-4 -offset-md-4 col-sm-6 offset-sm-3">
        <div class="card auth">
            <div class="card-body auth-card">
                <div class="auth-avator">
                    

                </div>
                <form>
                    <div class="form-group">
                        <div>
                            <label for="name">Name: </label>
                        </div>
                        <div>
                            <input type="text" name="name" class="form-control" placeholder="Name">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div>
                            <label for="name">Phone: </label>
                        </div>
                        <div>
                            <input type="text" name="phnoe" class="form-control" placeholder="Phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label for="name">Email: </label>
                        </div>
                        <div>
                            <input type="text" name="email" class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label for="name">Password: </label>
                        </div>
                        <div>
                            <input type="text" name="password" class="form-control" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label for="name">Confirm Password: </label>
                        </div>
                        <div>
                            <input type="password" name="password" class="form-control" placeholder="Password">
                        </div>
                    </div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-my" value="Sign Up">
                    </div>
                    <div class="text-center login">
                        Already have an account ? <a routerLink="/login">Login </a> here.
                    </div>

                </form>

            </div>

        </div>

    </div>

</div>
</div>