<!-- <div class="content-container">
<div class="about-us">
    <h2>About Our Company</h2>
    <p>Welcome to Alfa Bank, your trusted local financial institution. Since our establishment in 1990, we have been dedicated 
        to delivering reliable banking services to the communities we serve.</p>
        <p>  At Alfa Bank we may be small in size, but we're big on personalized attention and commitment to our customers' financial well-being.</p>
    <p>At Alfa Bank, you're not just an account number; you're a valued member of our community. 
    We take the time to understand your financial aspirations and offer personalized solutions to help you achieve them.</p>
    
    
  </div>
  
  <div class="contact-us">
    <h2>Contact Us</h2>
    <p>If you have any questions or inquiries, please don't hesitate to reach out to us:</p>
    <ul>
      <h3>Email </h3>
      <li>Email: <a href="mailto:contact@yourcompany.com">janyango187@gmail.com</a></li>
      <h3>Phone Number</h3>
      <li>Phone: <a href="tel:+254">(+254)735-888-990-</a></li>
      <h3>Address</h3>
      <li>Ngong Road, Nairobi</li>
    </ul>
  </div>
</div> -->
  
  
