<div class="row">
    <div class="col-md-4 -offset-md-4 col-sm-6 offset-sm-3">
        <div class="card auth">
            <div class="card-body auth-card">
                <div class="auth-avator">
                    
                    </div>
                    <form id="loginForm">
                        <div class="form-group">
                            <div>
                                <label for="name">Email: </label>
                            </div>
                            <div>
                                <input type="text" name="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <label for="name">Password: </label>
                            </div>
                            <div>
                                <input type="text" name="password" class="form-control" placeholder="Password">
                            </div>
                        </div>
                        <div class="text-right forget-pass">
                            
                        </div>
                        <div   div class="text-center">
                            <input type="Submit" class="btn-my" value="Login">
                        </div>
                        <div class="text-center sigup">
                            Don't have an account ? <a routerLink="/sigup"> Sign Up </a> here.
                        </div>

                    </form>
                    

                </div>

            </div>

        </div>

    </div>