<div class="row">
    <div class="col-md-4 -offset-md-4 col-sm-6 offset-sm-3">
        <div class="card auth">
            <div class="card-body auth-card">
                <div class="auth-avator">
                    <!-- <img src="https://pluspng.com/img-png/user-png-icon-account-avatar-human-male-man-men-people-person-download-svg-download-png-edit-icon-512.png" 
                    alt="user" class="user-image"> -->
                    </div>
                    <form>
                        <div class="form-group">
                            <div>
                                <label for="name">Email: </label>
                            </div>
                            <div>
                                <input type="text" name="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <label for="name">Password: </label>
                            </div>
                            <div>
                                <input type="text" name="password" class="form-control" placeholder="Password">
                            </div>
                        </div>
                        <div class="text-right forget-pass">
                            <!-- <routerLink="/forget-pass">Forget Password</routerLink> -->
                        </div>
                        <div   div class="text-center">
                            <input type="Submit" class="btn-my" value="Login">
                        </div>
                        <div class="text-center sigup">
                            Don't have an account ? <a routerLink="/sigup"> Sign Up </a> here.
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>