<!DOCTYPE html>
<html>
<head>
  
</head>
<body>
  <div>
    <section class="landing">
      <div class="navbar">
        <div class="logo">
          <a routerLink="/">Alfa Bank</a>
        </div>
        <div class="nav-links">
          <a routerLink="/about">Abaout Us</a>
          <a routerLink="/dashboard">Dashboard</a>
          <a routerLink="/sigup">Sign Up</a>
        </div>
      </div>
      <div class="wrapper">
        <div class="background-image">
          <div class="text">
            <h2>Alfa Bank Best Bank In The World </h2>
            <h4>Our priority is you </h4>
            <a href="#" class="learn-more-button">Learn More</a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <router-outlet></router-outlet>
</body>
</html>


 <!-- <span>{{ title }} app is running!</span> -->
    <!-- <app-sigup></app-sigup> -->
    <!-- <app-login></app-login> -->