<!DOCTYPE html>
<div>

    <!-- <span>{{ title }} app is running!</span> -->
    <!-- <app-sigup></app-sigup> -->
    <!-- <app-login></app-login> -->
    
    <section class="landing">
     
      <div class="navbar">
        <div class="logo">
          <h1>Alfa Bank</h1>
        </div>
        <div class="nav-links">
          <a href="#">About Us</a>
          <a href="./dashboard/dashboard.component.html">Dashboard</a>
          <a href="#">Account</a>
          <a href="./sigup/sigup.component.html">Sign Up</a>
          
        </div>
      </div>
      <div class="wrapper">
        <div class="background-image">
          <div class="text">
            <h2>New Bank for a New Age</h2>
            <a href="#" class="learn-more-button">Learn More</a>
          </div>
          
        </div>
      </div>
      
    </section>
  </div>


<router-outlet></router-outlet> 
