<!DOCTYPE html>
<html ng-dashboard="planker">
    <head>
    <meta charset="utf-8"/>
    <title>AngularJS Plunker</title>
    <link data-require="bootstrap@*" data-semver="3.3.2" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
    <script>
        document.write('<base href="' + document.location + '" />');
      </script>
    
      <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.0-rc.2/angular.js" data-semver="1.4.0-rc.2"></script>
      <script data-require="jquery@2.1.3" data-semver="2.1.3" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
      <script data-require="bootstrap@*" data-semver="3.3.2" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
      <Script>dashboard.components.ts</Script>
    </head>
    <body ng-controller="MainCtrl">
        <div class="container">
            <h1 class="firstWord">Alfa<span class="secondWord"> Banking</span></h1>
            <hr/>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title">Make a transaction</h3>
                        </div>
                        <div class="panel-body">
                          <form class="form-inline">
                            <div class="form-group">
                              <label for="description">Description</label>
                              <input type="text" class="form-control" id="description" placeholder="" ng-model='transaction.description'>
                            </div>
                            <div class="form-group">
                              <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="number" step="0.01" min=0 class="form-control" id="amount" placeholder="0.00" ng-model="transaction.amount">
                              </div>
                            </div>
                            <select class="form-control" ng-model="transaction.type">
                              <option value='debit'>Debit</option>
                              <option value='credit'>Credit</option>
                            </select>
                            <button type="submit" class="btn btn-primary" ng-click="saveTransaction()">Save</button>
                          </form>
                        </div>
                      </div>
                      <hr/>
                      <p>
                        <strong>Sort transaction by:</strong>
                        <select ng-model="transType" class="form-control">
                            <option value=""> All</option>
                            <option value='debit'>Debit</option>
                            <option value='credit'>Credit</option>
                        </select>
                      </p>
                      <table class="table table-striped table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Description</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr ng-repeat="row in transactionList | filter: transtype">
                                <td ng-bind="row.type"></td>
                                <td ng-bind="row.description"></td>
                                <td ng-bind="row.amount | currency"></td>

                            </tr> -->
                            <tr>
                              <td>debit</td>
                              <td>Alexender Mureithi</td>
                              <td>$100.00</td>
                            </tr>
                            <tr>
                              <td>credit</td>
                              <td>Jackson Kamau</td>
                              <td>$50.00</td>
                            </tr>
                            <tr>
                              <td>debit</td>
                              <td>Mohamend Abdul</td>
                              <td>$75.00</td>
                            </tr>
                            <tr>
                              <td>credit</td>
                              <td>Josphine Nyamboke</td>
                              <td>$120.00</td>
                            </tr>
                        </tbody>

                      </table>

                </div>

            </div>

        </div>

    </body>

</html>
