<!DOCTYPE html>
<html>
<head>
  
</head>
<body>
  <div>
    <section class="landing">
      <div class="navbar">
        <div class="logo">
          <a routerLink="/">Alfa Bank</a>
        </div>
        <div class="nav-links">
          <a routerLink="/about">Abaout Us</a>
          <a routerLink="/dashboard">Transaction History </a>
          <a routerLink="/sigup">Sign Up</a>
        </div>
      </div>
      <div class="wrapper">
        <div class="background-image">
          <div class="text">
            <h2>Alfa Bank Best Bank In The World </h2>
            <h4>Our priority is you </h4>
            <a href="#" class="learn-more-button">Learn More</a>
          </div>
        </div>  
      </div>
      <p>ghjk</p>
     
      <div class="grid-container">
        <div class="text">
          Welcome to Alpha Banking! Please log in or sign up.
        </div>
        <div>
          Main Menu: View account balance, transfer funds, pay bills, or check recent transactions.
        </div>
        <div>
          Existing User: Enter your username and password to access your account.
        </div>
    </div>
    <div class="grid-container">
      <div class="text">
        New User: Sign up for an Alpha Banking account and start managing your finances.
      </div>
      <div>
        Stay secure with Alpha Banking's advanced encryption and authentication features.
      </div>
      <div>
        Need help? Contact our 24/7 customer support for assistance.
      </div>
  </div>
    
      
      

    </section>
  </div>
  
</body>
</html>
